
<header class="header-desktop">
  <div class="sidebar-nav">
    <nav class="navbar navbar-dark bg-primary fixed-top">
        <div class="container">
<h1  routerLink="/products" style="color: azure; cursor: pointer;"> My Shop</h1>

        
           <app-app-search></app-app-search>
           <div style="margin-right: 20px;">
            <button class="" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
              <span style="color: white;">Categories</span>
          </button>
           </div>
           <div style="display: flex;  justify-content: center">
        
           
            <button style="margin-right: 50%; margin-top: 10%; height: 30px;" routerLink="/cart" type="button" class="btn btn-light position-relative">
              <span style=" padding-top: 10%;">Cart</span>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
               {{cartItems}}
              </span>
            </button>
          
     
        

          <div >
            <button (click)="loginClicked()" >
              <h4  style="color: white;">{{isLoggedIn?'Log Out':'Login'}}</h4>
            </button>
          </div>
            <!-- Mobile Menu Toggle Button -->
           
                
              
           
            </div> 
            <div class="offcanvas offcanvas-start shadow" style="width:fit-content" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-body">
                <h1 style="padding: 2rem;">MyShop</h1>
                  <app-category-list></app-category-list>
              </div>
            </div>
         
        </div>
    </nav>
  </div>
</header>
