<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h1></h1>
            <div class="row" >
                <div *ngIf="categoryId==1">
                    <h1>Mobiles</h1>
                </div>

                <div *ngFor="let product of products" class="col-md-3">

                   
                    <div style="display: flex; flex-direction: column;">
                        <div id="loginBadge{{product.id}}" style="display: none;" class="alert alert-success" role="alert">
                           Added to Cart
                           </div>
                        
                        <div class="card" style="width: 18rem; margin-top: 2rem;">
                            <img [routerLink]="['/product',product.id]"   src="https://5.imimg.com/data5/SELLER/Default/2021/3/JP/CL/JI/29090626/realme-7-mobile-phone.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">{{product.name}}</h5>
                              <p class="card-text">{{product.unit_price}}</p>
                              <button id="addtocart{{product.id}}" (click)="addToCart(product.id)" class="btn btn-primary">Add to Cart</button>
                            </div>
                          </div>
                    </div>
                    

                        
                 
                   
                   
                </div>
                <div *ngIf="products.length==0" class="alert alert-warning col-md-12">   
                        
                    No poducts found
                </div>
            
            </div>

            <div class="footer-pagination" style="display: flex; justify-content: end;">
               
                 <ngb-pagination [(page)]="pageNumber"
                                [pageSize]="size"   
                                  [collectionSize]="totalElements"
                                  
                                  (pageChange)="listAllProducts()"
                                  [maxSize]="5" ></ngb-pagination>
         
            
            </div>
        </div>
        
    </div>
</div>



