

<div class="main-content">

    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div  *ngIf="cartItems.length<0">
                No items in cart
            </div>

            <table *ngIf="cartItems.length>0" style="" class="table table-bordered ">
                <tr>
                    <th width="70%">Product</th>
                    <th width="30%"></th>
                </tr>
        
                <tr *ngFor="let item of cartItems">
                    <td><img class="img-responsive" src="https://5.imimg.com/data5/SELLER/Default/2021/3/JP/CL/JI/29090626/realme-7-mobile-phone.jpg" width="140px">
                        {{item.name}}
                    </td>
                    
        
                  <td>
        
                    <div class="items">
                        <label>Quantity:</label>
                        <div class="row ">
                            
                            <div style="background-color: rgb(198, 168, 168); margin-left: 2%;"class=" col-1">
                               +
                            </div>
                            <div class="col-1" >
                                {{item.quantity}}
                            </div>
                            <div style="background-color: rgb(198, 168, 168); "class=" col-1">
                                -
                             </div>
                        

                         
                        </div>

                    
                    </div>
                    <button style="background-color: red;" class="btn btn-primary btn-sm" (click)="remove(item)">remove</button>

                    <p class="mt-2"> Total: {{item.quantity * item.unitPrice}}</p>
                  </td>
        
                </tr>
        
            <tr >

                <td colspan="1"></td>
                <td style="">TotalPrice: {{totalPrice}}
                    <button style="background-color: rebeccapurple;" (click)="checkoutClicked()" class="btn btn-danger ">Checkout</button></td>
       

            </tr>
            </table>

            
        
        </div>
    </div>
</div>


  