<div class="page-wrapper">

 

    <!-- PAGE CONTAINER-->
		<div class="page-container">
			<!-- HEADER DESKTOP-->
			<app-header ></app-header>

			   <!-- MENU SIDEBAR-->
			   <!-- <aside class="menu-sidebar d-none d-lg-block" >
				<div class="logo">
					<a href="home.html">
						<img src="assets/images/logo.png" alt="luv2shop" class="img-responsive">
					</a>
				</div>
			   <app-category-list></app-category-list>
			</aside> -->
			<!-- END MENU SIDEBAR-->
			<!-- END HEADER DESKTOP-->
<!-- <app-product-list></app-product-list> -->
<router-outlet></router-outlet>