<div  class="detail-section">
    <div  class="container">
        <div class="detail-img">
            <img src="https://5.imimg.com/data5/SELLER/Default/2021/3/JP/CL/JI/29090626/realme-7-mobile-phone.jpg" >
        </div>
     

        <h3>{{ product.name }}</h3>
        <div class="price">{{ product.unit_price | currency:'USD' }}</div>
        <button (click)="addToCart(product)" class="btn btn-primary"> Add to cart</button>

        <hr>
        <h4>Description</h4>
        <p>{{ product.description }}</p>

        <a routerLink="/products" class="mt-5">Back to Product List</a>
    </div>
</div>
