<div class="main-content page-m">
<!-- <div *ngIf="cartItems.length==0">
    <h1>No items in cart, please add to checkout</h1>
</div> -->




    <div *ngIf="cartItems.length>=0" class="section-content section-content-p30">
       
        <div class="container mt-5">
            <div class="mb-3">
                <h1>Select Saved Address</h1>
                <div *ngFor="let adress of addresses"  class="form-check">
                    <input (click)="radioChecked()" class="form-check-input" type="radio" name="savedAddress" id="address1" value="123 Main St, Anytown, CA">
                    <label class="form-check-label" for="address1">{{adress.street}}</label>
                </div>
                
                <!-- Add more saved addresses as needed -->
            </div>

            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      Add A new Address
                    </button>
                  </h2>
                  <div  #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" id="collapseOne" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                            <div formGroupName="newaddress" class="form-area">
                            <div class="mb-3">
                                <label for="firstName" class="form-label">First Name</label>
                                <input formControlName="firstName"  type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name">
                            </div>
                            <div class="mb-3">
                                <label for="lastName" class="form-label">Last Name</label>
                                <input formControlName="lastName" type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name">
                            </div>
                            <div class="mb-3">
                                <label for="mobileNumber" class="form-label">Mobile Number</label>
                                <input formControlName="mobileNumber" type="tel" class="form-control" id="mobileNumber" name="mobileNumber" placeholder="Enter mobile number">
                            </div>
                            <div class="mb-3">
                                <label for="Street" class="form-label">Street</label>
                                <input formControlName="street" type="text" class="form-control" id="Street" name="Street" placeholder="Enter street">
                            </div>
                            <div class="mb-3">
                                <label for="State" class="form-label">State</label>
                                <input formControlName="state"  type="text" class="form-control" id="State" name="State" placeholder="Enter state">
                            </div>
                            <div class="mb-3">
                                <label for="City" class="form-label">City</label>
                                <input formControlName="city"  type="text" class="form-control" id="City" name="City" placeholder="Enter city">
                            </div>
                          
                            
                            <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                  </div>
                </div>
            </div>
            <button style="margin-top: 5%;" class="btn btn-primary"> Proceed to Payment</button>
           
        </div>
           

        </div>
    </div>


